.cab{
    background-color: rgb(52, 50, 54);
    width: 1310px;
    height: 50px;
    margin: -17px 10px 0px -8px;
}

#iconepredios {
padding: 5px 10px 0px 10px;
}

#iconepessoa {
padding: 5px 0px 0px 0px;
}

#iconenotificação{
 padding: 5px 10px 0px 1180px;
}

.capa{
    width: 1310px;
    margin:auto;
    position: relative;
}

#fotocapa{
width: 1310px;
height: 500px;
filter:brightness(30%);
margin: 0px 10px 0px -8px;
}

#comercios{
    position: absolute;
    text-align: center;
    top: 100px;
    left: 490px;
    transition: translate(-50%, -50);
    font-size: 50px;
    text-align: center;
    position: absolute;
    font-weight: bold;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

#subtitulo{
    position: absolute;
    text-align: center;
    top: 180px;
    left: 390px;
    transition: translate(-50%, -50);
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.linhad{
    height: 5px;
    width: 310px;
    background-color: rgb(122,200,120);
    margin: 10px 0px 0px 1000px;
    position: absolute;
    left: 0px;
    top: 165px;
}

.linhae{
    background-color: rgb(122,200,120);
    width: 310px;
    height: 5px;
    margin: 10px 0px 0px -15px;
    left: 0px;
    top: 215px;
    position: absolute;
}

.qhist{
    position: absolute;
    display: inline-block;
    height: 165.34px;
    width: 166.44px;
    top: 418px;
    left: 45px;
    color: white;
    background: linear-gradient(180deg, rgb(0,0,0) 0%,rgb(80,78,84) 98%);
    box-shadow: -10px 5px 40px black;
}

.qhist img{
    margin: 30px 0px 0px 45px;
}

.qhist p{
margin: 20px 0px 0px 50px;
font-size: 20px;
font-family: 'Arya', sans-serif;
}

.qloc{
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 260px;
    background: linear-gradient(180deg, rgb(0,0,0) 0%,rgb(80,78,84) 98%);
    box-shadow: -10px 5px 40px black;
}

.qloc img{
    margin: 30px 0px 0px 60px;
}

.qloc p{
margin: 20px 0px 0px 40px;
font-size: 20px;
font-family: 'Arya', sans-serif;
}

.qnum{
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 260px;
    background: linear-gradient(180deg, rgb(0,0,0) 0%,rgb(80,78,84) 98%);
    box-shadow: -10px 5px 40px black;
}

.qnum img{
    margin: 30px 0px 0px 52px;
}

.qnum p{
margin: 20px 0px 0px 47px;
font-size: 20px;
font-family: 'Arya', sans-serif;
}

.qcom{
    position: absolute;
    display: inline-block;
    height: 165.34px;
    width: 166.44px;
    top: 0px;
    left: 260px;
    background: linear-gradient(180deg, rgb(0,0,0) 0%,rgb(80,78,84) 98%);
    box-shadow: -10px 5px 40px black;
}

.qcom img{
    margin: 30px 0px 0px 48px;
}

.qcom p{
margin: 10px 0px 0px 40px;
font-size: 20px;
font-family: 'Arya', sans-serif;
}

.qmor{
    position: absolute;
    display: inline-block;
    height: 165.34px;
    width: 166.44px;
    top: 0px;
    left: 260px;
    background: linear-gradient(180deg, rgb(0,0,0) 0%,rgb(80,78,84) 98%);
    box-shadow: -10px 5px 40px black;
}

.qmor img{
    margin: 30px 0px 0px 44px;
}

.qmor p{
margin: 10px 0px 0px 51px;
font-size: 20px;
font-family: 'Arya', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    transition: all 0.9s;
}

#quadrado1{
    width: 700px;
    background-color: rgb(72, 72, 72);
    margin: 100px 0px;
    position: absolute;
    box-shadow: 10px 10px 0px rgb(122,200,120);
}

#comercios1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin: 50px 50px 0px;
}

#comercios2{
    font-family: 'Arya', sans-serif;
    margin: 20px 50px 40px;
    font-size: 17px;
}

#shopping{
    margin: 150px 0px 0px 470px;
    position: relative;
    left: 280px;
    width: 450px;
}

#quadrado2{
    width: 700px;
    background-color: rgb(72, 72, 72);
    margin: 110px 500px;
    position: absolute;
    box-shadow: 10px 10px 0px rgb(122,200,120);
}

#doze1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin: 50px 50px 0px;
}

#doze2{
    font-family: 'Arya', sans-serif;
    margin: 20px 50px 40px;
    font-size: 17px;
}

#dozeimg{
    margin: 160px 0px 0px 5px;
    position: relative;
    width: 450px;
}

#quadrado3{
    width: 700px;
    background-color: rgb(72, 72, 72);
    margin: 100px 0px;
    position: absolute;
    box-shadow: 10px 10px 0px rgb(122,200,120);
}

#mercado1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin: 50px 50px 0px;
}

#mercado2{
    font-family: 'Arya', sans-serif;
    margin: 20px 50px 40px;
    font-size: 17px;
}

#mercadao{
    margin: 180px 0px 0px 750px;
    position: relative;
    width: 450px;
}

#contato{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 28px;
    margin: 120px 0px 0px 450px;
    width: 200%;
    color: black;
}

#linhac{
    height: 50px;
    width: 815%;
    background-color: rgb(173,203,172);
    margin: -40px -100px 0px -100px;
}

.rodape{
    margin-top: 20px;
    text-align: center;
    width: 1200px ;
    height: 70px;
}

#linha{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#coluna{
    color: rgb(85,85,85);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#insta{
    background-color: rgb(122,200,120);
    color: black;
    border-radius: 30px;
}